POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""
REPO_ROOT="$(cd "$(dirname "${BASH_SOURCE[0]}")/.." && pwd)"

BBLAYERS ?= " \
  ${REPO_ROOT}/poky/meta \
  ${REPO_ROOT}/poky/meta-poky \
  ${REPO_ROOT}/poky/meta-yocto-bsp \
  ${REPO_ROOT}/meta-raspberrypi \
  ${REPO_ROOT}/meta-data-logger \
"